.table-container {
    overflow-x: auto;
    padding: 10px;
    margin: 10px 20px;
    background-color: #fff;
    border-radius: 10px;
}

thead > tr {
    background-color: #f8f9fa;
    border-radius: 10px;
}

th,
td {
    text-align: left;
    padding: 10px;
}
