.header-container {
    background-color: #fbd062;
    height: 700px;
    overflow: hidden;
    position: relative;
}

/* .header-container:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 200px 100vw;
    position: absolute;
    top: 596px;
    border-color: transparent transparent #fff transparent;
} */

.custom-shape-divider-bottom-1602911629 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1602911629 svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);
    height: 90px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1602911629 .shape-fill {
    fill: #f8f9fa;
}
